{{outlet}}


{{!-- 
{{#each rec as |obj|}}
<h2>{{this.firstName}}</h2><br>
{{/each}}

 --}}



<button {{action 'storeRec'}}>Store</button>

<button {{action 'viewRec'}}>Show</button>

<button {{action 'updateRec'}}>Update</button>


